@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Humble, Challenge, Stay curious</p>

<p>I'm working as a Java/J2EE developer for five years,</p>
<p>which included 3 years in ICBC(China) and the other 2 years in</p>
<p>Texas as a contractor.</p>
<p>I made this web to test some new tech of Azure</p>
<p>Sometimes I may also put the link to my resume</p>
<p>"I am honored to be with you today"</p>
